{% load static %}
<div class="am-panel am-panel-default">
  <div class="am-panel-hd">
    <div class="am-g" data-am-collapse="{parent: '#accordion', target: '#box{{jsName}}'}">     
      <span style="float:left"> 
        <img src="{% static 'assets/img/p3.jpg' %}" width="22" height="62"> 
      </span> 
      <div style="float:left;margin-left:7.5px;margin-top:9px;"> 
        <img class="am-circle" src="{% static 'assets/img/3.jpg' %}" width="44" height="44"> 
      </div>
      <div style="float:left;margin-left:6.5px;margin-top:6px;" class="am-panel-title" >
            <div style="font-size:16px;font-family:'微软雅黑';font-weight:normal;">{{title}}</div>
            <div style="font-size:12px;font-family:'微软雅黑';font-weight:normal;margin-top:8px;">{{subTitle}}</div>
      </div>
    </div>
  </div>
  <div id="box{{jsName}}" class="am-panel-collapse am-collapse">
    <div class="am-panel-bd">
      {{content}}
    </div>
  </div>
</div>